*{
    font-family: 'Courier New', Courier, monospace;
    
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameWindow{
    text-align: center;
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 24px 24px 24px;
    
}
